.intro {
    scroll-behavior: smooth;
    color: white;
    background-color: var(--dark-secondary);
    height: 100%;
    font-size: var(--fz-biggest);
    p {
        text-align: center;
    }
    .scroll-btn {
        .icon {
            transition: transform 0.2s ease-in-out;
        }
        &:hover .icon {
            transform: rotate(90deg);
            transition: transform 0.2s ease-in-out;
        }
    }
}
