.shuffle {
    // --offsetY: 0;3
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
    .gallery-container {
        position: relative;
        width: 70%;
        height: auto;
        margin-top: 50px;
        overflow: hidden;
        .gallery {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: 100%;
            .shuffle-card {
                position: absolute;
                width: var(--widthCard);
                height: var(--heightCard);
                z-index: 300;
                background-color: tomato;
                outline:1px dashed black;
                outline-offset:-1px;
            }
        }

        .gallery-mask {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            z-index: 0;
            .card-mask {
                width: var(--widthCard);
                height: var(--heightCard);
                margin: 0;
                padding: 0;
                opacity: 0;
            }
        }
    }

    @media (max-width: 1000px) {
        .gallery-mask {
            width: 100%;
        }
    }
    @media (max-width: 1000px) {
        .gallery {
            width: 100%;
        }
    }
}
