.animate-button {
    margin-top: 1.5rem;

    height: 50px;
    width: 200px;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    
    &.primary {
        color: white;
        border: 2px solid var(--secondary-color);
        &:hover {
            background-color: var(--primary-color);
            border: none;
            color: white;
        }
    }
    &.secondary {
        color: black;
        border: 2px solid var(--secondary-color);
        &:hover {
            background-color: var(--secondary-color);
            border: none;
            color: white;
        }
    }
    &.small {
        font-size: var(--fz-small);
    }
    &.normal {
        font-size: var(--fz-normal);
    }
}
@media (max-width: 400px) {
    .animate-button {
        width: 150px;
        height: 45px;
        margin-top: 1.1rem;
    }
}
