.about {
    padding-top: 50px;
    .about-first {
        position: relative;
        width: 80%;
        margin: auto;
        padding-top: 20px;
    }
    .about-next {
        width: 80%;
        margin: auto;
        margin-top: 50px;
        .graph-wrapper {
            margin: 10px;
        }
    }
}
