.contacts {
    background-color: var(--dark-secondary);
    position: relative;
    .heading {
        color: white;
    }
    svg {
        left: 0;
        top: 0;
        position: absolute;
    }
    .mailer-wrapper {
        min-width: 300px;
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
}
