.app {
    min-width: 320px;

    .flex {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        &.column {
            flex-direction: column;
        }
    }

    .main {
        // position: 
        .intro-wrapper {
            height: calc(100vh + 50px);
            width: 100%;
        }
        .navbar-wrapper {
            height: auto;
            width: 100%;
            margin: 0;
            padding: 0;
            background-color: var(--dark-primary);
            top: 0;
            z-index: 100;
            position: sticky;
        }
        .about-wrapper {
            width: 100%;
            background-color: var(--light-primary);
            height: auto;
            position: relative;
            padding-bottom: 100px;
            .heading {
                padding-top: 50px;
            }
        }
        .portfolio-wrapper {
            overflow-x: hidden;
            height: auto;
            background-color: var(--light-secondary);
            padding-bottom: 50px;
        }
        .contacts {
            height: 100vh;
            .heading {
                padding-top: 100px;
            }
        }
    }
}

